{%extends "layout.html"%}
{%block content%}
<html>
<head>
  <title><b>ADEYINKA</b>OLUWATOFUNMI | Back-End Developer | tohmi02@gmail.com</title>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <meta name="keywords" content="" />
   <meta name="description" content="" />

   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
   <link rel="stylesheet" type="text/css" href="resume.css" media="all" />

</head>
<body>
<div id="doc2" class="yui-t7">
   <div id="inner">

      <div id="hd">
         <div class="yui-gc">
            <div class="yui-u first">
               <h1>Adeyinka Oluwatofunmi</h1>
               <h2>Back-End Developer</h2>
            </div>

            <div class="yui-u">
               <div class="contact-info">
                  <h3><a id="pdf" href="#">Download PDF</a></h3>
                  <h3><a href="mailto:tohmi02@gmail.com">tohmi02@gmail.com</a></h3>
                  <h3>+234-813-319-7235</h3>
               </div><!--// .contact-info -->
            </div>
         </div><!--// .yui-gc -->
      </div><!--// hd -->

      <div id="bd">
         <div id="yui-main">
            <div class="yui-b">

               <div class="yui-gf">
                  <div class="yui-u first">
                     <h2>Profile</h2>
                  </div>
                  <div class="yui-u">
                     <p class="enlarge">
                        Diligent & Hardworking Computer Science major currently attending Bowen University. Searching for a position that will allow me improve my current programming, communication and teamwork skills.
                              </p>
                  </div>
               </div><!--// .yui-gf -->
<!--skilllllssss-->
               <div class="yui-gf">
                  <div class="yui-u first">
                     <h2>Technical</h2>
                  </div>
                  <div class="yui-u">
                     <ul class="talent">
                        <li>Python</li>
                        <li>C++</li>
                        <li class="last">C#</li>
                     </ul>

                     <ul class="talent">
                        <li>Java</li>
                        <li>SQLite</li>
                        <li class="last">PostgreSQL</li>
                     </ul>

                     <ul class="talent">
                        <li>Django</li>
                        <li>Flask</li>
                        <li class="last">Html</li>
                     </ul>
                  </div>
               </div><!--// .yui-gf-->

               <div class="yui-gf">

                  <div class="yui-u first">
                     <h2>Experience</h2>
                  </div><!--// .yui-u -->

                  <div class="yui-u">

                     <div class="job">
                        <h2>Soutech Ventures</h2>
                        <h3>Cybersecurity Intern (Remote)</h3>
                        <h4>September 2020<br>
                        <a href="https://soutechventures.com/">
                           <img alt="Zuri Internship" src="https://th.bing.com/th/id/OIP.U3dWap3aWJyvOvFGi52TSwHaHa?pid=ImgDet&rs=1"
                                width="25" height="25">
                         </a>
                           </h4>
                            </div>

                     <div class="job">
                        <h2>LASUTH General Hospital.</h2>
                        <h3>Hardware & Software Maintenance Intern</h3>
                        <h4>September 2020</h4>
                        </div>

                     <div class="job">
                        <h2>Zuri Internship.</h2>
                        <h3>Python BackEnd Intern</h3>
                        <h4>August 2021<br>
                         <a href="https://internship.zuri.team/">
                           <img alt="Zuri Internship" src="https://internship.zuri.team/static/media/logo.36d2d48a.svg"
                           width="100" height="25">
                         </a>
                        </h4>
                        </div>
                  </div><!--// .yui-u -->


                  </div><!--// .yui-u -->
               </div><!--// .yui-gf -->


               <div class="yui-gf last">
                  <div class="yui-u first">
                     <h2>Education</h2>
                  </div>
                  <div class="yui-u">
                     <h2>Bowen University, Iwo</h2>
                          <h3>BACHELOR OF SCIENCE (B.SC), </h3>
                     <h4>Computer Science Candidate(Expected graduation Jun 2022) </h4>
                  </div>
               </div><!--// .yui-gf -->


            </div><!--// .yui-b -->
         </div><!--// yui-main -->
      </div><!--// bd -->

      <div id="ft">
         <div class="container">
  <form action="mailto:tohmi02@gmail.com">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="nigeria">Nigeria</option>
      <option value="england">England</option>
       <option value="canada">Canada</option>
       <option value="egypt">Egypt</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

    <input type="submit" value="Submit">

  </form>
         </div>
         <p>Adeyinka Oluwatofunmi &mdash; <a href="mailto:tohmi02@gmail.com">tohmi02@gmail.com</a> &mdash; +234-813-319-7235</p>
      </div><!--// footer -->

   </div><!-- // inner -->


</div><!--// doc -->


</body>

</html>


{%endblock%}

